@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

.navbar {
  /* border: 2px solid black; */
  /* margin: 0 25px 40px 25px; */
}

.navbar_center ul {
  display: flex;
  margin: 0px 30px;
  position: relative;
  top: 7px;
}

.navbar_center ul li {
  list-style: none;
  /* border: 2px solid black; */
  margin: 0 35px;
  padding: 0 5px;
  position: relative;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  /* text-decoration: underline; */
}
.navbar_center ul li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  top: 30px;
  background-color: #333;
  transform: scaleX(0); /* Start with no underline */
  transform-origin: left center;
  transition: transform 0.3s ease-in-out;
}
.navbar_center ul li:hover::before {
  transform: scaleX(1); /* Expand to full width on hover */
}
.navbar_center ul input {
  border-radius: 50px;
  border: 1px solid gray;
  padding: 7px 14px;
  margin-left: 20px;
  width: 20em;
  /* cursor: pointer; */
  position: relative;
  top: -6px;
  opacity: 0.8;
  outline: none;
  font-size: 16px;
  letter-spacing: 1.2px;
}

.navbar_right ul {
  /* border: 2px solid black; */
  display: flex;
  margin: 0px 6px;
  list-style: none;
  position: relative;
  top: 4px;
}
.navbar_right ul li {
  margin: 0 15px;
  font-size: 18px;
  font-family: "Ubuntu", sans-serif;
  cursor: pointer;
}

.cart-modal {
  position: fixed;
  top: 0;
  right: -400px; /* Initially, the cart modal is hidden off-screen */
  width: 400px;
  height: 100vh;
  background-color: white;
  box-shadow: -1px 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.4s ease-in-out;
  z-index: 1;
}

.cart-modal.open {
  right: 0; /* Slide in the cart modal from the right */
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* margin-top: 2px; */
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content button {
  /* color: #333; */
  padding: 5px 16px;
  text-decoration: none;
  border: none;
  display: block;
  background-color: #fff;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.dropdown-content button:hover {
  background-color: #ddd;
  border: none;
}

.navbar_right ul button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  top: 38px;
  background-color: #333;
  transform: scaleX(0); /* Start with no underline */
  transform-origin: left center;
  transition: transform 0.3s ease-in-out;
}
.navbar_right ul button:hover::before {
  transform: scaleX(1); /* Expand to full width on hover */
}
